@import "../../common/colors.scss";
.district {
  background: $primary-color;
  height: 100vh;
  overflow-y: auto;
}
.districtwise {
  font-size: 20px;
  padding: 20px 0 0 20px;
  margin-top: 40px;
  text-align: center;
  color: white;
  display: flex;
  .green {
    background: green;
    width: max-content;
    box-shadow: $box-shadow;
    margin: 4px;
    border-radius: 4px;
    padding: 4px;
  }
  .red {
    background: #890000;
    width: max-content;
    box-shadow: $box-shadow;
    margin: 4px;
    border-radius: 4px;
    padding: 4px;
  }
  .yellow {
    background: #ebeb00;
    color: rgb(0, 0, 0);
    width: max-content;
    box-shadow: $box-shadow;
    margin: 4px;
    border-radius: 4px;
    padding: 4px;
  }
}
.district-details {
  // width: 100%;
  padding: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  color: black;
  justify-content: space-evenly;
}
.district-status-box {
  border-radius: 20px;
  padding: 10px;
  color: $text-color;
  min-height: 12em;
  height: min-content;
  @include box-color;
  // box-shadow: $box-shadow;
}
.district-status-color {
  height: 50px;
}
@media (max-width: 1625px) {
  .district-details {
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: 1258px) {
  .district-details {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 961px) {
  .district-details {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 670px) {
  .district-details {
    grid-template-columns: auto;
  }
  .districtwise {
    flex-direction: column;
  }
}
