@import "../../common/colors.scss";
.header {
  width: 100%;
  background-color: $secondary-color;
  position: fixed;
  // z-index: 1;
  top: 0;
  padding: 10px 0 0 10px;
  height: 50px;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-around;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: black;
}
//dropdown button category
.dropdown-button {
  border-radius: 20px;
  color: $text-color;
  background-color: $primary-color;
  border: none;
  box-shadow: $box-shadow;
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
}

//drop down content india global category
.dropdown-content {
  .Link {
    text-decoration: none;
    display: block;
    padding-top: 5px;
    font-size: 20px;
    color: black;
  }
  padding: 10px 8px 4px 8px;
  display: none;
  position: absolute;
  background-color: rgb(211, 211, 211);
  box-shadow: $box-shadow;
  border-radius: 20px;
  min-width: 150px;
  text-align: center;
}

.dropdown:hover .dropdown-content{
    display: block;
}