@import "../../common/colors.scss";
.statedetails-main {
  padding: 10px;
  background-color: $secondary-color;
  min-width: fit-content;
}
.state-container {
  padding-top: 30px;
  display: grid;
  justify-content: center;
  gap: 20px 20px;
  grid-template-columns: auto auto auto auto auto;
}
.state-details {
  background-color: $primary-color;
  border-radius: 20px;
  text-align: center;
  width: 340px;
  padding: 10px;
  box-shadow: $box-shadow;
  color: $text-color;
}
.state-name {
  h1 {
    font-size: 20px;
  }
}
.state-code {
  margin-top: 10px;
  h1 {
    font-size: 14px;
  }
}
.StateDetails-button{
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  color: $text-color;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: $box-shadow;
  background-color: $primary-color;
  // backdrop-filter: blur(10px);
}

@media (max-width: 1625px) {
  .state-container {
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: 1460px) {
  .state-container {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width:1100px) {
  .state-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 740px) {
  .state-container {
    grid-template-columns: auto ;
  }
}
