@import "../../common/colors.scss";
//global
.global {
  background: $primary-color;
  height: 100vh;
  overflow-y: scroll;
}
//search bar style
.search {
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
}
//country category dropdown
.country-dropdown {
  display: inline-block;
}
.country-dropdown-list {
  margin: 0 10px 10px 10px;
  padding: 10px;
  color: $text-color;
  @include box-color;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  cursor: pointer;
  border-color: $text-color;
}
//country name style
.country {
  padding: 5px;
  color: black;
}
.country-dropdown:hover .country-dropdown-list {
  display: grid;
}

//total covid details drop down

.total-covid-status {
  display: block;
}
.total-dropdown-button {
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  border: none;
  box-shadow: $box-shadow;
  color: $text-color;
  // background: $primary-color;
  @include button-color;
  height: 40px;
  width: 70px;
}
.global-table-body {
  border: 1px solid white;
  position: absolute;
  left: 50px;
  display: none;
  padding: 10px;
  color: rgb(0, 0, 0);
  @include button-color;
  & hr {
    background: $secondary-color;
    height: 2px;
    border: none;
  }
}
.global-table-data {
  padding: 10px;
}
.total-covid-status:hover .global-table-body {
  display: grid;
}
