// $primary-color:rgb(0, 0, 112);
$primary-color: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
$secondary-color: rgb(0, 0, 0);
$text-color: rgb(255, 255, 255);
$box-shadow: -1px -1px 3px black;
@mixin button-color {
    background-color: rgba(255, 255, 255, 0.404);
    backdrop-filter:  blur(10px);
}
@mixin box-color {
    background: rgba(255, 255, 255, 0.075);
    backdrop-filter:  blur(10px);
}